#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

/* Para identificar si el indice es par o impar */

.table--showColors tr:nth-child(odd){
  background: #333;
}

.table--showColors tr:nth-child(even){
  background: #555;
}

.pointer {
  cursor: pointer;
}